<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="BlogConnectionString" value="DefaultEndpointsProtocol=https;AccountName=prometheushub;AccountKey=75gwoMxsJc9b1CJJ10eRS7cAkpn6dqFqdgzFiUf52mXl6AIcRChaxKiA4lZoe/7rWKluXEBCwaJuIssGG0Y1Rw==;EndpointSuffix=core.windows.net" />
        <add key="prometheusWebServiceUrl" value="http://localhost" />
        <add key="sendAlertToGroupEndpoint" value="https://prometheus-hub.azurewebsites.net/api/NotifyGroupBySMS?code=u2ZMSpLw6JlQ6JaBDgWdSaT7P7tQcmD4RTRX0SaDAn/E4Lqvw8jo5w==&amp;location={0},{1}&amp;group={2}" />
        <add key="subscribeNumberToGroupAlert" value="https://prometheus-hub.azurewebsites.net/api/SubscribeNumberToGroupAlert?code=u2ZMSpLw6JlQ6JaBDgWdSaT7P7tQcmD4RTRX0SaDAn/E4Lqvw8jo5w==&amp;name={0}&amp;phone={1}&amp;group={2}" />
        <add key="unsubscribeNumberToGroupAlert" value="https://prometheus-hub.azurewebsites.net/api/UnsubscribeFromGroupAlert?code=kFVDNTBP7eeTiTfw0GNpKDHcPCVOSJMVcyOzYQCaEEnSRoSaJD1wvg==&amp;id={0}" />
        <add key="listGroupAlertMembers" value=""/>
        <add key="subscribePartition" value="ImagineCup" />
        <add key="fireAlerts_us" value="https://api.weather.gov/alerts/active" />
        <add key="fireAlerts_ar" value="https://api.weather.gov/alerts/active" />
        <add key="weatherProviderUrl" value="https://api.openweathermap.org/data/2.5/weather?units=imperial&amp;lat={0}&amp;lon={1}&amp;appid=97a9c3663b870307767be541a3bf6a9c"/>
        <add key="firmsProviderUrl" value="https://firms.modaps.eosdis.nasa.gov/wms/?REQUEST=GetMap&amp;layers=fires_modis_24&amp;WIDTH=256&amp;HEIGHT=256&amp;BBOX={0}&amp;SRS=EPSG:3857&amp;transparent=true&amp;MAP_KEY=55e4b94fa860ac47d751ecffde942b1e"/>
        <add key="mslpProviderUrl" value="https://nowcoast.noaa.gov/arcgis/rest/services/nowcoast/obs_meteocean_insitu_sfc_time/MapServer/export?bbox={0}&amp;f=image&amp;format=png32&amp;transparent=true&amp;size=256,256&amp;MAP_KEY=55e4b94fa860ac47d751ecffde942b1e"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>