<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!--<add key="prometheusWebServiceUrl" value="http://prometheus-webapi.azurewebsites.net"/>-->
        <add key="BlogConnectionString" value="" />
        <add key="prometheusWebServiceUrl" value="http://localhost" />
        <add key="sendAlertToGroupEndpoint" value="&amp;location={0},{1}&amp;group={2}" />
        <add key="subscribeNumberToGroupAlert" value="&amp;name={0}&amp;phone={1}&amp;group={2}" />
        <add key="unsubscribeNumberToGroupAlert" value="&amp;id={0}"/>
        <add key="subscribePartition" value=""/>
        <add key="fireAlerts_us" value="https://api.weather.gov/alerts/active" />
        <add key="fireAlerts_ar" value="https://api.weather.gov/alerts/active" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>