{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Prometheus</h1>
    <p class="lead">An early fire detection AI technology using drones. Named after Prometheus, the Greek TItan, who defies the gods by stealing fire and giving it to humanity, an act that enabled progress and civilization. We are itching to do the same.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Call the endpoint /score posting the images you want to score.
        </p>
    </div>
</div>

{% endblock %}
