<?xml version="1.0" encoding="utf-8"?>
<!--
This config file can be ignored when deployed inside a docker container. No need for this.
-->
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="PrometheusWS.app"/>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot; d:\home\site\wwwroot\pymodules"/>
    <add key="WSGI_LOG" value="D:\home\LogFiles\wfastcgi.log"/>
  </appSettings>
  <system.webServer>
    <httpErrors errorMode="Detailed"></httpErrors>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python354x64\python.exe|D:\home\python354x64\wfastcgi.py" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
  </system.webServer>
</configuration>